// fonts
@font-face {
    font-family: 'Arial Rounded';
    src: url('assets/fonts/arial-rounded-bold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Andale Mono';
  src: url('assets/fonts/andale-mono.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Comic Sans';
  src: url('assets/fonts/comic-sans.ttf');
  font-weight: normal;
  font-style: normal;
}

//colors
$light-blue: #add8e6;
$blue: #84a4cb;
$off-white: #fcfbe3;
$grey: #cdcdcd;
$grey-blue: #bfcfe3;
$white: #ffffff;
$red: #ff0000;

//breakpoints
$bp-xs: 375px;
$bp-sm: 768px;
$bp-md: 992px;
$bp-lg: 1200px;

* {
  box-sizing: border-box;
}

.text-blue-arial {
  color: $blue;
  font-family: 'Arial Rounded';
}

.death-font {
  margin: 20px 0px;
  font-family: "Arial Rounded";
  font-size: 64px;
  text-transform: uppercase;
  background-color: $blue;
  color: transparent;
  text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
}

.round-btn {
  position: relative;
  padding: 0px 15px;
  font-family: 'Andale Mono';

  height: 80px;
  background-color: $blue;
  color: $white;
  font-family: 'Andale Mono';
  font-size: 28px;
  border-radius: 100px;
  text-transform: uppercase;
  border: 2px solid black;
  cursor: pointer;
  &:focus, &:active {
    outline: none;
  }
  @media(max-width: $bp-sm) {
    font-size: 18px;
  }
}

.delete-btn {
  background-color: red;
  color: $white;
  font-family: 'Arial Rounded';
  font-size: 24px;
  border-radius: 100px;
  border: 1px solid black;
  padding: 15px;
  cursor: pointer;
  &:focus, &:active {
    outline: none;
  }
}

.send-btn {
  height: 100%;
  width: 50px;
}


html, body {
  margin: 0;
  width: 100%;
  background-color: $off-white;
  header {
    position: relative;
    display: flex;
    height: auto;
    padding: 15px;
    background-color: $blue;
    @media(max-width: $bp-sm) {
      margin-top: 75px;
      height: 275px;
      flex-direction: column;
      padding: 0px;
    }
    .smile-buddies {
      width: 25%;
      margin: 15px;
      @media(max-width: $bp-sm)  {
        margin: 0px;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        padding: 20px 50px;
        transform: translateY(-50%);

      }
      img {
        width: 100%;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        @media(max-width: $bp-sm) {
          top: 0;
          transform: translateX(-50%);
          left: 50%;
          padding: 30px;
        }
      }
    }
    .header-text {
      width: 70%;
      margin: 15px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      @media(max-width: $bp-sm) {
        width: 100%;
        position: absolute;
        top: 115px;
        left: 0;
        margin: 0;
        padding: 0px 20px;
      }
      .header-text-title {
        font-family: 'Arial Rounded';
        font-size: 5.5vw;
        text-transform: uppercase;
        color: white;
        @media(max-width: $bp-sm) {
          font-size: 36px;
          text-align: center;
        }
      }
      .header-text-subtitle {
        width: 100%;
        @media(max-width: $bp-sm) {
          padding: 15px;
        }
        img {
          width: 100%;
        }
      }
    }
    .notification-wrapper {
      .notifications {
        width: 100%;
        height: 100%;
        margin: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @media(max-width: $bp-sm) {
          // width: 10%;
          display: none;
        }
        .notifications-number {
          background-color: red;
          width: 75px;
          height: 75px;
          margin: 5px;
          text-align: center;
          color: $white;
          font-family: 'Arial Rounded';
          font-size: 24px;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          margin-bottom: 30px;
          border-radius: 8px;
          @media(max-width: $bp-sm) {
            width: 75%;
            height: 75%;
            margin-bottom: 10px;
            border-radius: 0px;
          }
          &:after {
            content:'';
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -10px;
            width: 0;
            height: 0;
            border-top: solid 10px $red;
            border-left: solid 10px transparent;
            border-right: solid 10px transparent;
            @media(max-width: $bp-sm) {
              display: none;
            }
          }
        }
        img {
          width: 50%;
          position: relative;
        }
      }
      .notifications-box {
        border: 5px solid $grey-blue;
        border-radius: 15px;
        padding: 10px 20px;
        margin: 20px;
        position: absolute;
        z-index: 99;
        background-color: white;
        .notifications-box-caught-up {
          color: $blue;
          text-decoration: none;
          font-size: 16px;
          font-family: 'Arial Rounded';
        }
        .notification {
          color: $blue;
          text-decoration: none;
          font-size: 16px;
          font-family: 'Arial Rounded';

          border-top: 2px solid black;
          &:hover {
            text-decoration: underline;
          }
          div {
            padding: 10px 0px;
            border-top: 2px solid black;
          }

          &:first-child {
            div {
              // margin: 10px 0px;
              border: none;
            }
            border: none;
          }
        }
      }
    }
  }
  .body {
    background-color: $off-white;
    .account-section {
      .account {
        display: flex;
        // height: 300px;
        padding: 30px;
        @media(max-width: $bp-sm) {
          height: auto;
          flex-direction: column;
        }
        .account-picture {
          @media(max-width: $bp-sm) {
            margin: 0 auto;
          }
          img {
            height: 100%;
            border-radius: 300px;
            border: 10px solid $blue;
            position: relative;
            height: 250px;
            width: 250px;
            object-fit: cover;
            @media(max-width: $bp-sm) {
              height: 200px;
              width: 200px;
            }
          }
        }
        .account-right {
          // width: 75%;
          // width: 100%;
          width: calc(100% - 280px);
          margin: 0 70px;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          @media(max-width: $bp-sm) {
            width: 100%;
            margin: 0 auto;
          }
          .account-right-top {
            width: 80%;
            margin: 0 auto;
            display:flex;
            justify-content: space-between;
            @media(max-width: $bp-sm) {
              justify-content: center;
              flex-direction: column;
              text-align: center;
            }
            .greeting-text {
              font-size: 3.5vw;
              display: flex;
              flex-direction: column;
              justify-content: center;
              @media(max-width: $bp-sm) {
                margin: 15px 0px;
                font-size: 24px;
              }
            }
            .top-right {
              display: flex;
              align-items: center;
              width: 50%;
              @media(max-width: $bp-sm) {
                display: none;
              }
              .search-input {
                width: 100%;
                height: 100%;
                font-family: 'Arial Rounded';
                font-size: 100%;
                padding: 0px 15px;
                &:focus, &:active {
                  outline: none;
                }
              }
              .search-btn {
                width: 25%;
                height: 100%;
                border-color: $grey;
                background-color: $grey;
                &:focus, &:active {
                  outline: none;
                }
              }
            }
          }
          .account-right-bottom {
            width: 80%;
            margin: 0 auto;
            .post-bar {
              display:flex;
              justify-content: space-between;
              @media(max-width: $bp-sm) {
                flex-direction: column;
              }
              .account-post {
                // width: 30%;
                @media(max-width: $bp-sm) {
                  margin: 5px 0px;
                  width: 100%;
                  text-align: center;
                }
              }
            }
          }
        }
      }
      .account-no-user {
        height: 300px;
        display: flex;
        flex-direction: column;
        .account-top {
          height: 50%;
          width: 100%;
          display: flex;
          justify-content: center;
          flex-direction: column;
          .cta {
            text-align: center;
            font-size: 42px;
          }
        }
        .account-bottom {
          display: flex;
          height: 50%;
          margin: 0 auto;
          @media(max-width: $bp-sm) {
            height: auto;
            flex-direction: column;
            text-align: center;
          }
          .account-btn-wrapper {
            @media(max-width: $bp-sm) {
              margin: 15px auto;
            }
            .round-btn {
              margin: 0 30px;
            }
          }

        }
      }
    }
    .feed-section {
      margin-top: 50px;
      display: flex;
      @media(max-width: $bp-sm) {
        flex-direction: column;
      }
      .sidebar {
        // width: 40%;
        width: 350px;
        @media(max-width: $bp-sm) {
          width: 100%;
        }
        .sidebar-options-wrapper {
          .sidebar-option {
            height: 30px;
            // margin: 30px 60px;
            margin: 30px 0px 0px 60px;
            display: flex;
            text-decoration: none;
            transition: 2s all;
            @media(max-width: $bp-sm) {
              margin: 30px 0px;
              width: auto;
            }
            &:hover {
              background-color: $white;
            }
            .option-image {
              height: 100%;
              img {
                height: 100%;
              }
            }
            .option-title {
              display: flex;
              align-items: center;
              margin-left: 40px;
              font-size: 24px;
              color: $blue;
              font-family: 'Arial Rounded';
              cursor: pointer;
            }
            @media(max-width: $bp-sm) {
              margin-left: 20px;
            }
          }
        }

      }
      .feed-wrapper {
        // width: 60%;
        width: calc(100% - 350px);
        @media(max-width: $bp-sm) {
          width: 100%;
        }
        .feed-error {
          font-size: 42px;
          color: $blue;
          font-family: 'Arial Rounded';
          text-align: center;
          margin: 0 10%;
        }
        .post {
          width: 80%;
          border: 8px solid $grey;
          border-radius: 10px;
          background-color: white;
          padding: 20px 40px;
          margin: 0 auto 50px;
          @media(max-width: $bp-sm) {
            width: 100%;
            padding: 20px 0px;
            border: 0;
            padding: 0px 10px;
          }
          &.image-post {
            .post-top {
              margin-bottom: 0px;
              border-bottom: 0;
            }
          }
          .post-top {
            padding-bottom: 30px;
            margin-bottom: 30px;
            border-bottom: 2px solid $grey;
            display: flex;
            @media(max-width: $bp-sm) {
              // flex-direction: column;
              padding-bottom: 0px;
            }
            .top-img {
              @media(max-width: $bp-sm) {
                display: flex;
                align-items:center;
                justify-content: center;
              }
              img {
                height: 200px;
                border: 4px solid $blue;
                border-radius: 200px;
                @media(max-width: $bp-sm) {
                  height: 125px;
                  width: 125px;
                }
              }
            }
            .top-text {
              margin-left: 20px;
              display: flex;
              flex-direction: column;
              height: 200px;
              justify-content: space-around;
              padding: 10px 0px;
              @media(max-width: $bp-sm) {
                height: auto;
              }
              .text-name {
                margin-top: 10px;
                font-size: 24px;
              }
              .text-love-val {
                font-family: 'Andale Mono';
                font-size: 12px;
                color: $grey-blue;
                margin-top: 5px;
              }
              .text-subject {
                margin-top: 30px;
                font-family: 'Arial Rounded';
                font-size: 18px;
                color: $grey-blue;
              }
              .text-reason {
                margin-top: 10px;
                font-family: 'Arial Rounded';
                font-size: 18px;
                color: $grey-blue;
              }
            }
          }
          .post-bottom {
            font-size: 24px;
            @media(max-width: $bp-sm) {
              font-size: 18px;
            }
            .post-image {
              width: 100%;
              img {
                width: calc(100% + 25px);
                margin: 0 -15px;
              }
            }
            .post-interaction {
              height: 50px;
              margin-top: 30px;
              .grin-section {
                height: 100%;
                img {
                  height: 100%;
                }
                .grin-btn {
                  height: 100%;
                  background-color: $blue;
                  color: $white;
                  font-size: 24px;
                  position: relative;
                  top: -15px;
                  border-radius: 100px;
                  margin-left: 30px;
                  padding: 0px 15px;
                  font-family: 'Arial Rounded';
                  cursor: pointer;
                  @media(max-width: $bp-sm) {
                    font-size: 16px;
                    margin-left: 15px;
                  }
                  &:focus {
                    outline: none;
                  }
                }
              }
            }
            .post-stats {
              margin-top: 25px;
              color: $blue;
              font-family: 'Comic Sans';
              cursor: pointer;
            }
          }
          .comment-section {
            margin: 15px 0px;
            padding: 15px 0px;
            border-top: 2px solid $grey;
            .comments {
              .comment {
                margin-bottom: 10px;
                min-height: 100px;
                border-radius: 50px;
                background-color: $blue;
                display: flex;
                .commenter {
                  height: 100%;
                  display: flex;
                  .commenter-picture {
                    height: 100%;
                    img {
                      height: 100px;
                      width: 100px;
                      border-radius: 50px;
                    }
                  }
                  .commenter-name {
                    margin: 10px 0px;
                    padding: 0 15px;
                    border-right: 3px solid white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    font-size: 24px;
                    color: white;
                    font-family: 'Arial Rounded';
                  }
                }
                .comment-message {
                  font-size: 24px;
                  color: white;
                  font-family: 'Arial Rounded';
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  margin: 10px 0px;
                  padding: 0 15px;
                }
              }
            }
            .write-comment-wrapper {
              .write-comment {
                height: 50px;
                .comment-input {
                  position: relative;
                  top: -7px;
                  height: 100%;
                  border-radius: 25px;
                  padding: 10px;
                  border: 1px solid $grey;
                  width: calc(100% - 50px);
                  &:focus {
                    outline: none;
                  }
                }
              }
            }
          }
        }
      }
    }
    .user-header {
      padding: 30px;
      text-align: center;
      .user-header-item {
        text-align: center;
        font-size: 48px;
        font-family: 'Arial Rounded';
        .user-header-item-identifier {
          color: $grey-blue;
        }
        .user-header-item-value {
          color: $blue;
        }
        &.user-header-image {
          img {
            height: 300px;
            width: 300px;
            border-radius: 300px;
            border: 4px solid $grey-blue;
            @media(max-width: $bp-xs) {
              width: 100%;
              height: auto;
            }
          }
        }
      }
      .user-profile-message-btn {
        margin-top: 20px;
      }
    }
  }

}

.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.3);
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  @media(max-width: $bp-sm) {
    padding: 15px;
  }
  .modal {
    max-height: 100%;
    overflow-y: scroll;
    background-color: #fff;
    position: fixed;
    z-index: 2;
    position: relative;
    border: 8px solid $grey;
    border-radius: 10px;
    -webkit-box-shadow: 0px 5px 65px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 65px -10px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 65px -10px rgba(0,0,0,0.75);
    padding: 50px 50px 20px;
    @media(max-width: $bp-sm) {
      padding: 20px 0px 0px;
    }
  }
  .modal-close {
    text-align: right;
    margin: 10px;
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
  }
  .modal-content {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    .modal-title {
      text-align: center;
      font-size: 28px;
      margin: 15px 0px;
      font-family: 'Arial Rounded';
      color: $blue;
      a {
        color: darken($blue, 20%);
        &:visited {
          color: darken($blue, 20%);
        }
      }
    }
  }
}

.login-or-signup {
  .login-or-signup-title {
    font-family: 'Arial Rounded';
    color: $blue;
    font-size: 24px;
    margin: 50px;
    @media(max-width: $bp-xs) {
      margin: 15px;
    }
  }
}

.smile-buds-form {
  display: flex;
  flex-direction: column;
  label {
    color: $blue;
    font-family: 'Arial Rounded';
    font-size: 18px;
    display: flex;
    flex-direction: column;
    input, select, textarea {
      margin: 10px 0 25px;
      height: 35px;
      border: 2px solid $grey-blue;
      border-radius: 5px;
      padding: 0px 5px;
      background-color: $white;
      &:focus, &:active {
        outline: none;
      }
    }
    textarea {
      padding: 7px 5px;
      resize: none;
      font-family: 'Arial';
      height: 100px;
    }
  }

  .round-btn {
    margin: 0 30px;
  }
  .post-fail {
    text-align: center;
    font-family: 'Arial Rounded';
    color: $red;
    font-size: 18px;
    margin: 15px 0px 30px;
  }

}

.login-form {
  .login-fail {
    text-align: center;
    font-family: 'Arial Rounded';
    color: $red;
    font-size: 18px;
    margin: 15px 0px 30px;
  }
}

.signup-form {
  .signup-fail {
    text-align: center;
    font-family: 'Arial Rounded';
    color: $red;
    font-size: 18px;
    margin: 15px 0px 30px;
  }
}

.uploading {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #84a4cb;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  margin: 0 auto;
  animation: spin 1.5s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.grinner-list-modal {
  .grinner-list-title {
    text-align: center;
    font-size: 32px;
    margin: 10px 0px;
    color: $blue;
    font-family: 'Arial Rounded';
  }
  .grinner-list {
    .grinner {
      border-top: 2px solid $grey;
      height: 100%;
      // padding-top: 15px;
      padding: 15px 30px 15px;
      &:first-child {
        border-top: none;
      }
      a {
        display: flex;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
        .grinner-pic {
          border: 4px solid $grey-blue;
          border-radius: 100px;
          height: 100px;
        }
        .grinner-name {
          color: $blue;
          text-decoration: none;
          font-family: 'Arial Rounded';
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin-left: 15px;
        }
      }
    }
  }
}

.messaging-modal {
  width: 100%;
  height: 100%;
  .messaging {
    width: 100%;
    display: flex;
    height: 100%;
    .message-buddies {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 25px;
      padding: 15px;
      padding-right: 50px;
      width: 40%;
      border-right: 4px solid $blue;
      height: 100%;
      overflow: scroll;
      @media(max-width: $bp-md) {
        padding-right: 15px;
        border-right: 0px;
      }
      .message-buddies-title {
        font-size: 48px;
        text-align: center;
        color: $blue;
        font-family: 'Arial Rounded';
        margin: 30px 0px;
      }
      .message-buddy {
        // display: flex;
        text-align: center;
        border: 8px solid $light-blue;
        border-radius: 20px;
        padding: 15px;
        margin: 15px;
        width: 100%;
        &.active {
          background-color: $grey-blue;
          @media(max-width: $bp-sm) {
            background-color: white;
          }
        }
        .message-buddy-left {
          img {
            object-fit: cover;
            height: 100px;
            width: 100px;
            border: 4px solid $blue;
            border-radius: 50px;
          }
        }
        .message-buddy-right {
          display: flex;
          justify-content: center;
          flex-direction: column;
          margin: 0 25px;
        }
      }
    }
    .messaging-zone {
      // background-color: red;
      width: 100%;
      margin-top: 10px;
      padding: 15px;
      height: 100%;
      .messaging-zone-scroll {
        height: 85%;
        overflow: scroll;
        .back {
          display: none;
          @media(max-width: $bp-md) {
            display: block;
            position: absolute;
            top: 5px;
            left: 5px;
            color: black;
            text-decoration: underline;
            font-family: 'Rounded Arial';
            font-size: 14px;
          }
        }
        .messaging-header {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          border-bottom: 2px solid $grey;
          margin: 10px 0px;
          img {
            height: 150px;
            width: 150px;
            object-fit: cover;
            border: 4px solid $blue;
            border-radius: 150px;

          }
          .messaging-header-name {
            margin: 10px 0px;
            color: $blue;
            font-family: 'Arial Rounded';
            font-size: 32px;
          }
        }
        .message {
          border: 2px solid black;
          border-radius: 5px;
          min-height: 50px;
          padding: 20px 5px;
          font-family: 'Arial Rounded';
          margin: 20px 0px;
          &.from-them {
            background-color: $grey-blue;
          }
          &.from-me {
            background-color: $blue;
          }
        }
      }
      .messaging-zone-compose {
        margin: 2.5% 0;
        height: 10%;
        .send-message-form {
          height: 100%;
          .send-message-form-input {
            height: 100%;
            width: calc(100% - 55px);
            &:focus {
              outline: none;
            }
          }
        }
      }
    }
  }
}

.balloons {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  // background-color: red;
  // opacity: 0.2;
  pointer-events: none;
  // animation: translate 15s infinite linear;
  z-index: 2;
  .balloon {
    height: 30%;
    position:absolute;
    animation: leftRight 1.5s alternate infinite ease-in-out;
    // width:100%;
  }
}

@keyframes leftRight {
  to { transform: translatey(100px);}
}
@keyframes translate {
  to { transform: translatex(900%);}
}

.select-a-buddy {
  width: 60%;
  @media(max-width: $bp-md) {
    display: none;
  }
  .select-a-buddy-text {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    font-size: 28px;
    color: $blue;
    font-family: 'Arial Rounded';
  }
}

.mobile-visible {
  @media(max-width: $bp-md) {
    width: 100% !important;
    display: block !important;
  }
}

.mobile-invisible {
  @media(max-width: $bp-md) {
    display: none !important;
  }
}
